<main>
    <section id="posts_box" class="box">
        <div id="thread_box">
            <form name="form" (ngSubmit)="create()" #f="ngForm">
                <div id="thread_title_box">
                    <h1>Creating new thread</h1>            

                    <div id="thread_right_box">
                        <div id="thread_base_info">              
                            <div id="category_subcategory_box">
                                <p style="margin-right: 2em;"><b>Category: &nbsp;</b> 
                                    <select name="categories" (change)="selectCategory($event)">
                                        <option selected></option>
                                        <optgroup *ngFor="let category of categories" [label]="category.name">
                                            <option *ngFor="let subCategory of category.subCategories" [value]="subCategory.encryptedId">{{subCategory.name}}</option>
                                        </optgroup>
                                    </select>
                                </p>

                                <p><b>Subcategory: &nbsp;</b> 
                                    <select name="subcategories" (change)="selectSubCategory($event)">
                                        <option selected></option>
                                        <option *ngFor="let subCategory of subCategories" [value]="subCategory.encryptedId">{{subCategory.name}}</option>
                                    </select>
                                </p>
                            </div>
                        </div>

                        <div id="thread_title_controls">
                            <button class="button" type="submit" style="background-color: #54a120;">Create</button>                        
                        </div>
                    </div>
                </div>

                <div id="thread_box_content">
                    <div class="thread_title_box">
                        <label for="title">Title</label>
                        <input [(ngModel)]="form.title" name="title" #title="ngModel" required name="title" type="text" placeholder="Enter your title">
                    </div>
                                        
                    <div class="thread_content_box">                    
                        <textarea [(ngModel)]="form.content" name="content" #content="ngModel" required placeholder="Describe your problem"></textarea>
                    </div>
                </div>
            </form>    
        </div>        
    </section>

    <section id="left_side_box" class="box">
        <div class="left_side_box">
            <div>
                <h1>Popular threads</h1>
                <hr>
            </div>

            <div class="left_side_row_item" *ngFor="let thread of mostPopularThreads">
                <div class="row_user_icon">
                    <div>
                        <img style="width: 40%;" [src]="thread.user.avatar">
                    </div>
                </div>

                <div class="left_side_row_post">
                    <a [routerLink]="[ '/thread', thread.encryptedId, thread.title ]" class="row_item_thread_post">
                        <h3>{{thread.title}}</h3>
                        <h5>By <b>{{thread.user.nickname}}</b> # {{thread.createdAt}} # {{thread.numberOfPosts}} posts</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="left_side_box">
            <div>
                <h1>Newest posts</h1>
                <hr>
            </div>

            <div class="left_side_row_item" *ngFor="let post of newestPosts">
                <div class="row_user_icon">
                    <div>
                        <img style="width: 40%;" [src]="post.user.avatar">
                    </div>
                </div>

                <div class="left_side_row_post">
                    <a [routerLink]="[ '/thread', post.thread.encryptedId, post.thread.title ]" class="row_item_thread_post">
                        <h3>{{post.thread.title}}</h3>
                        <h5>By <b>{{post.user.nickname}}</b> # {{post.createdAt}}</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="left_side_box">
            <div>
                <h1>Activity</h1>
                <hr>
            </div>

            <div id="left_side_activity_controls">
                <button class="activity_button" [ngClass]="weekActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectWeekActivityMode()">Week</button>
                <button class="activity_button" [ngClass]="monthActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectMonthActivityMode()">Month</button>
                <button class="activity_button" [ngClass]="annuallyActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectAnnuallyActivityMode()">Annually</button>
                <button class="activity_button" [ngClass]="allTheTimeActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectAllTheTimeActivityMode()">All the time</button>
            </div>

            <div id="left_side_activity_users">
                <div class="left_side_row_item" *ngFor="let user of activityUsers">
                    <div class="row_user_icon">
                        <div>
                            <img style="width: 40%;" [src]="user.avatar" [routerLink]="[ '/user', user.encryptedId, user.nickname]">
                        </div>
                    </div>
    
                    <div class="left_side_row_post" style="padding-top: 1em;">
                        <h3>                            
                            <fa-icon [icon]="upVoteIcon" style="color: #54a120;"></fa-icon>
                            {{user.numberOfUpVotes}} &nbsp;
                            {{user.nickname}} 
                        </h3>                                            
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>