/.idea/
/*.iml
/out/
/target/
/*.log
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
spring.log
spring.log.*
logs/
*.log
.DS_Store
Thumbs.db
docker-compose.override.yml
*.dockerfile
Dockerfile.*
*.env
*.kubeconfig
*.kustomization.yaml
*.yaml
.sonar/
/testcontainers.properties
coverage/
jacoco.exec
*.exec
*.tmp
*.temp
*.swp
mvnw
.mvn