<main>
    <!-- Home  -->
    <section id="posts_box" class="box" *ngIf="isHomeMode">
        <div class="row_box">
            <div class="row_header">
                <h1>Administration</h1>
                <hr>
            </div>

            <div class="row_item">
                <div class="row_icon">
                    <p>?</p>
                </div>

                <div class="row_title_desc_box">
                    <h3>Regulations</h3>
                    <p class="row_desc">Any desc</p>
                </div>
                
                <div class="row_stats">
                    <p>5k answers</p>
                </div>

                <div class="row_last_post_box">
                    <div class="row_user_icon">
                        <p>?</p>
                    </div>

                    <div class="row_last_post">
                        <h3>Title</h3>
                        <h5>By Userxz,&nbsp; 4 min ago</h5>
                    </div>
                </div>
            </div>

            <div class="row_item">
                <div class="row_icon">
                    <p>?</p>
                </div>

                <div class="row_title_desc_box">
                    <h3>Hardware news</h3>
                    <p class="row_desc">Any desc</p>
                </div>
                
                <div class="row_stats">
                    <p>2.5k answers</p>
                </div>

                <div class="row_last_post_box">
                    <div class="row_user_icon">
                        <p>?</p>
                    </div>

                    <div class="row_last_post">
                        <h3>Title</h3>
                        <h5>By Userxz,&nbsp; 16 min ago</h5>
                    </div>
                </div>
            </div>

            <div class="row_item">
                <div class="row_icon">
                    <p>#</p>
                </div>

                <div class="row_title_desc_box">
                    <h3>Questions and suggestions</h3>
                    <p class="row_desc">Any desc</p>
                </div>
                
                <div class="row_stats">
                    <p>12.5k answers</p>
                </div>

                <div class="row_last_post_box">
                    <div class="row_user_icon">
                        <p>?</p>
                    </div>

                    <div class="row_last_post">
                        <h3>Title</h3>
                        <h5>By Userxz,&nbsp; 32 min ago</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row_box">
            <div class="row_header">
                <h1>Hardware</h1>
                <hr>
            </div>

            <div class="row_item">
                <div class="row_icon">
                    <p>?</p>
                </div>

                <div class="row_title_desc_box">
                    <h3>Regulations</h3>
                    <p class="row_desc">Any desc</p>
                </div>
                
                <div class="row_stats">
                    <p>5k answers</p>
                </div>

                <div class="row_last_post_box">
                    <div class="row_user_icon">
                        <p>?</p>
                    </div>

                    <div class="row_last_post">
                        <h3>Title</h3>
                        <h5>By Userxz,&nbsp; 4 min ago</h5>
                    </div>
                </div>
            </div>

            <div class="row_item">
                <div class="row_icon">
                    <p>?</p>
                </div>

                <div class="row_title_desc_box">
                    <h3>Hardware news</h3>
                    <p class="row_desc">Any desc</p>
                </div>
                
                <div class="row_stats">
                    <p>2.5k answers</p>
                </div>

                <div class="row_last_post_box">
                    <div class="row_user_icon">
                        <p>?</p>
                    </div>

                    <div class="row_last_post">
                        <h3>Title</h3>
                        <h5>By Userxz,&nbsp; 16 min ago</h5>
                    </div>
                </div>
            </div>

            <div class="row_item">
                <div class="row_icon">
                    <p>#</p>
                </div>

                <div class="row_title_desc_box">
                    <h3>Questions and suggestions</h3>
                    <p class="row_desc">Any desc</p>
                </div>
                
                <div class="row_stats">
                    <p>12.5k answers</p>
                </div>

                <div class="row_last_post_box">
                    <div class="row_user_icon">
                        <p>?</p>
                    </div>

                    <div class="row_last_post">
                        <h3>Title</h3>
                        <h5>By Userxz,&nbsp; 32 min ago</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Category -->
    <section id="posts_box" class="box" *ngIf="isCategoriesMode">
        <div id="selected_category">
            <h1>Processors</h1>
        </div>

        <div id="sub_categories">          
            <h4>Subcategories</h4>  
            <div class="row_item">
                <div class="row_icon">
                    <p>?</p>
                </div>

                <div class="row_title_desc_box">
                    <h3>Intel</h3>
                    <p class="row_desc">Everything about Intel processors</p>
                </div>
                
                <div class="row_stats">
                    <p>7.11k rows</p>
                </div>

                <div class="row_last_post_box">
                    <div class="row_user_icon">
                        <p>?</p>
                    </div>

                    <div class="row_last_post">
                        <h3>Title</h3>
                        <h5>By Userxz,&nbsp; 4 min ago</h5>
                    </div>
                </div>
            </div>

            <div class="row_item">
                <div class="row_icon">
                    <p>?</p>
                </div>

                <div class="row_title_desc_box">
                    <h3>AMD</h3>
                    <p class="row_desc">Everything about AMD processors</p>
                </div>
                
                <div class="row_stats">
                    <p>2.11k rows</p>
                </div>

                <div class="row_last_post_box">
                    <div class="row_user_icon">
                        <p>?</p>
                    </div>

                    <div class="row_last_post">
                        <h3>Title2</h3>
                        <h5>By Userxz,&nbsp; 4 min ago</h5>
                    </div>
                </div>
            </div>
        </div>

        <div id="pagination">
            <div id="pages_counter_box">
                <p>1/3</p>
            </div>

            <div id="pagination_buttons_box">
                <div class="pagination_button">
                    <button class="pagination_button">Next</button>
                </div>
    
                <div class="pagination_button">
                    <button class="pagination_button">Last</button>
                </div>
            </div>

            <div id="pagination_sorting_box">
                <p>Sort by</p>
            </div>
        </div>

        <div id="selected_category_rows_box">
            <div class="row_item">
                <div class="row_icon">
                    <p>?</p>
                </div>

                <div class="row_title_desc_box">
                    <h3>Title xyz</h3>
                    <p class="row_desc">By: Tom,&nbsp; 2 hours ago,&nbsp; AMD</p>                
                </div>
                
                <div class="row_stats">
                    <p>23 answers</p>
                    <p>630 views</p>
                </div>

                <div class="row_last_post_box">
                    <div class="row_user_icon">
                        <p>?</p>
                    </div>

                    <div class="row_last_post">
                        <h3>Title</h3>
                        <h5>By Userxz,&nbsp; 4 min ago</h5>
                    </div>
                </div>
            </div>

            <div class="row_item">
                <div class="row_icon">
                    <p>?</p>
                </div>

                <div class="row_title_desc_box">
                    <h3>Title xyz2</h3>
                    <p class="row_desc">By: Max, &nbsp;5 hours ago,&nbsp; Intel</p>
                </div>
                
                <div class="row_stats">
                    <p>1.5k answers</p>
                    <p>2.3k views</p>
                </div>

                <div class="row_last_post_box">
                    <div class="row_user_icon">
                        <p>?</p>
                    </div>

                    <div class="row_last_post">
                        <h3>Title2</h3>
                        <h5>By Userxz,&nbsp; 4 min ago</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Thread -->
    <section id="posts_box" class="box" *ngIf="isRowMode">
        <div id="thread_box">
            <div id="thread_title_box">
                <h1>Which processor should I choose?</h1>

                <div class="thread_left_box">
                    <div id="thread_base_info">
                        <h4>Date: 31.10.2024</h4>
                        <p>Category: Processors, Subcategory: AMD</p>
                    </div>

                    <div id="thread_title_controls">
                        <button>Observe</button>
                        <button>Share</button>
                    </div>
                </div>
            </div>

            <div id="thread_box_content">
                <div class="thread_user">
                    <div class="thread_user_nickname">
                        <h1>Jozin Z Bazin</h1>
                    </div>

                    <div class="thread_user_avatar">
                        <p>?</p>
                    </div>

                    <div class="thread_user_info">
                        <div class="thread_user_role">
                            <p>User</p>
                        </div>

                        <div class="thread_user_stats">
                            <div class="thread_user_comments">
                                32 comments
                            </div>

                            <div class="thread_user_likes">
                                1.25k likes
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="thread_post_item">
            <div class="thread_user">
                <div class="thread_user_nickname">
                    <h1>Jozin Z Bazin</h1>
                </div>

                <div class="thread_user_avatar">
                    <p>?</p>
                </div>

                <div class="thread_user_info">
                    <div class="thread_user_role">
                        <p>User</p>
                    </div>

                    <div class="thread_user_stats">
                        <div class="thread_user_comments">
                            32 comments
                        </div>

                        <div class="thread_user_reputation">
                            1.25k reputations
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="thread_user_post_content_box">
            <div class="thread_user_post_date_added">
                <p>Published date: 13.01.2024</p>
            </div>

            <div class="thread_user_post_content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eveniet asperiores quibusdam aut sed iste dolor, odio esse architecto. 
                Porro ad aperiam consequatur minima nam suscipit eveniet? Odit, quidem ipsum?
            </div>
        </div>
    </section>

    <section id="left_side_box" class="box">
        <div class="left_side_box">
            <div>
                <h1>Popular posts</h1>
                <hr>
            </div>

            <div class="left_side_row_item">
                <div class="popular_row_user_avatar">
                    <p>?</p>
                </div>

                <div class="left_side_row_post">
                    <h1>Header1</h1>
                    <h5>UserName # Yesterday # 515 posts</h5>
                </div>
            </div>

            <div class="left_side_row_item">
                <div class="left_side_row_user_avatar">
                    <p>#</p>
                </div>

                <div class="left_side_row_post">
                    <h1>Header #2</h1>
                    <h5>UserName2 # 2 days ago # 5 posts</h5>
                </div>
            </div>

            <div class="left_side_row_item">
                <div class="left_side_row_user_avatar">
                    <p>?</p>
                </div>

                <div class="left_side_row_post">
                    <h1>Header #3</h1>
                    <h5>UserName3 # Yesterday # 1.5k posts</h5>
                </div>
            </div>
        </div>

        <div class="left_side_box">
            <div>
                <h1>Newest posts</h1>
                <hr>
            </div>

            <div class="left_side_row_item">
                <div class="left_side_row_user_avatar">
                    <p>?</p>
                </div>

                <div class="left_side_row_post">
                    <h1>Header1</h1>
                    <h5>UserName # 5 minutes ago</h5>
                </div>
            </div>

            <div class="left_side_row_item">
                <div class="left_side_row_user_avatar">
                    <p>?</p>
                </div>

                <div class="left_side_row_post">
                    <h1>Header #2</h1>
                    <h5>UserName2 # 2 days ago</h5>
                </div>
            </div>

            <div class="left_side_row_item">
                <div class="left_side_row_user_avatar">
                    <p>?</p>
                </div>

                <div class="left_side_row_post">
                    <h1>Header #3</h1>
                    <h5>UserName3 # 2 hours ago</h5>
                </div>
            </div>
        </div>


        <div class="left_side_box">
            <div>
                <h1>Activity</h1>
                <hr>
            </div>

            <div id="left_side_activity_controls">
                <button class="activity_button">Week</button>
                <button class="activity_button">Month</button>
                <button class="activity_button">Annually</button>
                <button class="activity_button">All the time</button>
            </div>

            <div id="left_side_activity_users">
                <div class="left_side_activity_user_item">
                    <div class="left_side_activity_user_place">
                        <p>1</p>
                    </div>

                    <div class="left_side_activity_user_avatar">
                        <p>#</p>
                    </div>
    
                    <div class="left_side_activity_user_info">
                        <h1>UserXyz3</h1>
                        <h5>+250</h5>
                    </div>
                </div>

                <div class="left_side_activity_user_item">
                    <div class="left_side_activity_user_place">
                        <p>2</p>
                    </div>

                    <div class="left_side_activity_user_avatar">
                        <p>#</p>
                    </div>
    
                    <div class="left_side_activity_user_info">
                        <h1>UserXyz2</h1>
                        <h5>+150</h5>
                    </div>
                </div>

                <div class="left_side_activity_user_item">
                    <div class="left_side_activity_user_place">
                        <p>3</p>
                    </div>

                    <div class="left_side_activity_user_avatar">
                        <p>#</p>
                    </div>
    
                    <div class="left_side_activity_user_info">
                        <h1>UserXyz3</h1>
                        <h5>+100</h5>
                    </div>
                </div>

                <div class="left_side_activity_user_item">
                    <div class="left_side_activity_user_place">
                        <p>4</p>
                    </div>

                    <div class="left_side_activity_user_avatar">
                        <p>#</p>
                    </div>
    
                    <div class="left_side_activity_user_info">
                        <h1>UserXyz4</h1>
                        <h5>+50</h5>
                    </div>
                </div>

                <div class="left_side_activity_user_item">
                    <div class="left_side_activity_user_place">
                        <p>5</p>
                    </div>

                    <div class="left_side_activity_user_avatar">
                        <p>#</p>
                    </div>
    
                    <div class="left_side_activity_user_info">
                        <h1>UserXyz5</h1>
                        <h5>+5</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>