<main>
    <section id="posts_box" class="box">
        <div class="row_box" *ngFor="let threadCategory of threadCategories">
            <div class="row_header">
                <h1>{{ threadCategory.name }}</h1>
                <hr>
            </div>

            <div class="row_item" *ngFor="let threadSubCategory of threadCategory.subCategories">
                <div class="row_icon">
                    @if(threadSubCategory.thumbnailPath) {
                        <img [src]="threadSubCategory.thumbnailPath">
                    }
                </div>

                <div class="row_title_desc_box">
                    <a [routerLink]="[ '/threads', threadSubCategory.encryptedId, threadSubCategory.name]">{{ threadSubCategory.name }}</a>
                    <p class="row_desc">{{ threadSubCategory.description }}</p>

                    <div *ngIf="threadSubCategory.subCategories" class="category_sub_categories">
                        <a *ngFor="let threadCategorySubCategory of threadSubCategory.subCategories" 
                           [routerLink]="[ '/threads', threadCategorySubCategory.encryptedId, threadCategory.name]">{{ threadCategorySubCategory.name }}</a>
                    </div>
                </div>
                
                <div class="row_stats">
                    <p>{{threadSubCategory.numberOfThreads}} threads</p>
                    <p>{{threadSubCategory.numberOfPosts}} posts</p>
                </div>

                <div class="row_last_post_box">
                    <div class="row_user_icon">
                        @if (threadSubCategory.newestThread) {
                            <div>
                                <img [src]="threadSubCategory.newestThread.authorAvatar" [routerLink]="[ '/user', threadSubCategory.newestThread.authorEncryptedId, threadSubCategory.newestThread.authorNickname]">
                            </div>
                        }
                    </div>


                    @if (threadSubCategory.newestThread) {                                        
                        <div class="row_last_post">
                            <a [routerLink]="[ '/thread', threadSubCategory.newestThread.encryptedId, threadSubCategory.newestThread.title ]" class="row_item_thread_post">
                                {{threadSubCategory.newestThread.title}} <br> By {{threadSubCategory.newestThread.authorNickname}},&nbsp; {{threadSubCategory.newestThread.lastActivityDate}}
                            </a>
                        </div>

                    } @else {
                        <div class="row_last_post">
                            <h5>Currently no threads</h5>
                        </div>
                    }               
                </div>
            </div>
        </div>
    </section>

    <section id="left_side_box" class="box">
        <div class="left_side_box">
            <div>
                <h1>Popular threads</h1>
                <hr>
            </div>

            <div class="left_side_row_item" *ngFor="let thread of mostPopularThreads">
                <div class="row_user_icon">
                    <div>
                        <img style="width: 40%;" [src]="thread.user.avatar" [routerLink]="[ '/user', thread.user.encryptedId, thread.user.nickname]">
                    </div>
                </div>

                <div class="left_side_row_post">
                    <a [routerLink]="[ '/thread', thread.encryptedId, thread.title ]" class="row_item_thread_post">
                        <h3>{{thread.title}}</h3>
                        <h5>By <b>{{thread.user.nickname}}</b> # {{thread.createdAt}} # {{thread.numberOfPosts}} posts</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="left_side_box">
            <div>
                <h1>Newest posts</h1>
                <hr>
            </div>

            <div class="left_side_row_item" *ngFor="let post of newestPosts">
                <div class="row_user_icon">
                    <div>
                        <img style="width: 40%;" [src]="post.user.avatar" [routerLink]="[ '/user', post.user.encryptedId, post.user.nickname]">
                    </div>
                </div>

                <div class="left_side_row_post">
                    <a [routerLink]="[ '/thread', post.thread.encryptedId, post.thread.title ]" class="row_item_thread_post">
                        <h3>{{post.thread.title}}</h3>
                        <h5>By <b>{{post.user.nickname}}</b> # {{post.createdAt}}</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="left_side_box">
            <div>
                <h1>Activity</h1>
                <hr>
            </div>

            <div id="left_side_activity_controls">
                <button class="activity_button" [ngClass]="weekActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectWeekActivityMode()">Week</button>
                <button class="activity_button" [ngClass]="monthActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectMonthActivityMode()">Month</button>
                <button class="activity_button" [ngClass]="annuallyActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectAnnuallyActivityMode()">Annually</button>
                <button class="activity_button" [ngClass]="allTheTimeActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectAllTheTimeActivityMode()">All the time</button>
            </div>

            <div id="left_side_activity_users">
                <div class="left_side_row_item" *ngFor="let user of activityUsers">
                    <div class="row_user_icon">
                        <div>
                            <img style="width: 40%;" [src]="user.avatar" [routerLink]="[ '/user', user.encryptedId, user.nickname]">
                        </div>
                    </div>
    
                    <div class="left_side_row_post" style="padding-top: 1em;">
                        <h3>                            
                            <fa-icon [icon]="upVoteIcon" style="color: #54a120;"></fa-icon>
                            {{user.numberOfUpVotes}} &nbsp;
                            {{user.nickname}} 
                        </h3>                                            
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>