<nav>
    <section id="up">
        <a [routerLink]="[ '' ]" id="logo">  
            <img src="logo.png">
        </a>

        <div id="up_controls">
            @if(!isUserLoggedIn) {                
                <button id="loginButton" class="up_button" [routerLink]="[ 'login' ]">Login</button>
                <button id="registerButton" class="up_button">Register</button>
            }

            @if(isUserLoggedIn) {
                <button class="up_button">
                    <img [src]="loggedUser.avatar" style="width: 35%;">
                    <p>&nbsp;{{loggedUser.nickname}}</p>
                </button>

                <button class="up_button" title="Create new thread" [routerLink]="[ '/thread/create' ]">
                    <fa-icon [icon]="newThreadIcon"></fa-icon>
                </button>

                <button class="up_button" title="Account settings">
                    <fa-icon [icon]="accountSettingsIcon"></fa-icon>
                </button>

                <button id="logoutButton" class="up_button" (click)="logout()">Logout</button>
            }
        </div>
    </section>

    <section id="down">
        <div id="controls">
            <p>2045 users</p>
            <p>115 online</p>
            <div id="down_controls">
                <button class="down_button">Dawid0604</button>
                <button class="down_button">Project</button>            
            </div>
        </div>
        
        <div id="browser">
            <input type="text" placeholder="Browse..">
            <button>></button>
        </div>
    </section>
</nav>