<nav>
    <section id="up">
        <a [routerLink]="[ '' ]" id="logo"> Logo </a>
        <div id="up_controls">
            <button id="loginButton" class="up_button">Login</button>
            <button id="registerButton" class="up_button">Register</button>
        </div>
    </section>

    <section id="down">
        <div id="controls">
            <p>2045 users</p>
            <p>115 online</p>
            <div id="down_controls">
                <button class="down_button">Dawid0604</button>
                <button class="down_button">Project</button>            
            </div>
        </div>
        
        <div id="browser">
            <input type="text" placeholder="Browse..">
            <button>></button>
        </div>
    </section>
</nav>