<nav>
    <section id="up">
        <a [routerLink]="[ '' ]" id="logo">  
            <img src="logo.png">
        </a>

        <div id="up_controls">
            @if(!isUserLoggedIn) {                
                <button id="loginButton" class="up_button" [routerLink]="[ 'login' ]">Login</button>
                <button id="registerButton" class="up_button">Register</button>
            }

            @if(isUserLoggedIn) {
                <button class="up_button" [routerLink]="[ '/user', loggedUser.encryptedId, loggedUser.nickname]">
                    <img [style]="{ 'border-radius': '50%' }" [src]="loggedUser.avatar" style="width: 40%;">                    
                </button>

                <button class="up_button" title="Create new thread" [routerLink]="[ '/thread/create' ]">
                    <fa-icon [icon]="newThreadIcon"></fa-icon>
                </button>

                <button class="up_button" title="Notifications">
                    <fa-icon [icon]="notificationIcon" [id]="userNotifications.length > 0 ? 'up_button_notification_active' : ''"></fa-icon>
                </button>

                <button class="up_button" title="Account settings">
                    <fa-icon [icon]="accountSettingsIcon"></fa-icon>
                </button>

                <button id="logoutButton" class="up_button" (click)="logout()">Logout</button>
            }
        </div>
    </section>

    <section id="down">
        <div id="controls">
            <p>
               <fa-icon [icon]="usersIcon"></fa-icon>
               {{users.numberOfUsers}} users
            </p>

            <p>
               <fa-icon [icon]="onlineIcon" style="color: #54a120;"></fa-icon>
               {{users.numberOfOnlineUsers}} online
            </p>

            <div id="down_controls">
                <button class="down_button">
                    <a href="https://github.com/Dawid0604" target="_blank">Dawid0604</a>                    
                </button>

                <button class="down_button">
                    <a href="https://github.com/Dawid0604/PcForum" target="_blank">Project</a>
                </button>            
            </div>
        </div>
        
        <div id="browser">
            <form name="form" (ngSubmit)="browse()" #f="ngForm">
                <input type="text" placeholder="Browse.." [(ngModel)]="form.text" #text="ngModel" required name="text">
                <button type="submit">></button>
            </form>
        </div>
    </section>
</nav>