<main>
    <section id="posts_box" class="box">
        <div id="thread_box">
            <div id="thread_title_box">
                <h1>{{threadDetails.title}}</h1>

                <div id="thread_right_box">
                    <div id="thread_base_info">
                        <div class="thread_single_box">        
                            <p><b>Publication date:</b><br>{{threadDetails.createdAt}}</p>                            
                        </div>

                        <div class="thread_single_box">
                          <p><b>Category:</b><br>{{threadDetails.categoryName}}</p>                          
                        </div>

                        <div class="thread_single_box">
                            <p><b>Subcategory:</b><br>{{threadDetails.subCategoryName}}</p>
                         </div>                        
                    </div>

                    <div id="thread_title_controls">
                        @if(threadDetails.loggedUserThread) {
                            @if(!this.threadDetails.isClosed) {
                                <button class="button" style="background-color: #aa692c;">
                                    <fa-icon [icon]="editIcon"></fa-icon>
                                    Edit
                                </button>
                            }
                            
                            <button class="button" style="background-color: #aa452c;" (click)="deleteThread()">
                                <fa-icon [icon]="removeIcon"></fa-icon>
                                Remove
                            </button>

                            @if(this.threadDetails.isClosed) {
                                <button class="button" style="background-color: #4b5545;" disabled>
                                    <fa-icon [icon]="closeThreadIcon"></fa-icon>
                                    Closed
                                </button>

                            } @else {
                                <button class="button" style="background-color: #54a120;" (click)="closeThread()">
                                    <fa-icon [icon]="closeThreadIcon"></fa-icon>
                                    Close
                                </button>
                            }

                        } @else {
                            <button class="button" style="background-color: #54a120;">
                                <fa-icon [icon]="markedIcon"></fa-icon>
                                Observe
                            </button>

                            <button class="button" style="background-color: #aa692c;">
                                <fa-icon [icon]="shareIcon"></fa-icon>
                                Share
                            </button>
                        }
                    </div>
                </div>
            </div>

            <div id="thread_box_content">
                <div class="thread_user">
                    @if(threadDetails.user) {
                        <div class="thread_user_nickname">
                            <h1>{{threadDetails.user.nickname}}</h1>
                        </div>

                        <div class="row_user_icon thread_user_avatar">
                            @if (threadDetails.user.avatar) {    
                                <img [src]="threadDetails.user.avatar" title="Visit the user" [routerLink]="[ '/user', threadDetails.user.encryptedId, threadDetails.user.nickname]">
                            }
                        </div>

                        <div class="thread_user_info">
                            <div class="thread_user_role">
                                <p>{{threadDetails.user.rank}}</p>
                            </div>

                            <div class="thread_user_stats">
                                <div class="thread_user_comments">
                                    {{threadDetails.user.numberOfPosts}} posts
                                </div>

                                <div class="thread_user_likes">
                                    {{threadDetails.user.numberOfUpVotes}} Up votes
                                </div>

                                <div class="thread_user_likes">
                                    {{threadDetails.user.numberOfDownVotes}} Down votes
                                </div>
                            </div>
                        </div>
                    }
                </div>
                 
                <div class="thread_user_content_box">                
                    <div class="thread_user_content" [innerHTML]="threadDetails.content"></div>
                </div>
            </div>
        </div>

        <div class="thread_post_item" *ngFor="let post of pageablePosts.content">
            <div class="thread_user">
                <div class="thread_user_nickname">
                    @if(post.user) {
                        <h1>{{post.user.nickname}}</h1>
                    }
                </div>

                <div class="row_user_icon thread_user_avatar">
                    @if (post.user.avatar) {    
                        <img [src]="post.user.avatar" title="Visit the user" [routerLink]="[ '/user', post.user.encryptedId, post.user.nickname]">
                    }
                </div>

                <div class="thread_user_info">
                    <div class="thread_user_role">
                        <p>{{post.user.rank}}</p>
                    </div>

                    <div class="thread_user_stats">
                        <div class="thread_user_comments">
                            {{post.user.numberOfPosts}} posts
                        </div>
                        
                        <div class="thread_user_likes">
                            {{post.user.numberOfUpVotes}} Up votes  
                        </div>

                        <div class="thread_user_likes">
                            {{post.user.numberOfDownVotes}} Down votes
                        </div>
                    </div>
                </div>
            </div>

            <div class="thread_user_content_box thread_user_post_content_box">
                <div class="thread_user_date_added">
                    <div>
                        <p><b>Published date:</b> {{post.createdAt}}</p>
                    </div>                

                    @if(post.loggedUserPost) {
                        <div class="thread_user_content_box_icon" title="Edit">
                            <fa-icon [icon]="editIcon"></fa-icon>
                        </div>

                    } @else if(isUserLoggedIn) {
                        <div class="thread_user_content_box_icon" title="Quote">
                            <fa-icon [icon]="quoteIcon"></fa-icon>
                        </div>
                    
                        <div class="thread_user_content_box_icon" title="Report">
                            <fa-icon [icon]="reportIcon"></fa-icon>
                        </div>
                    }

                    <div [ngClass]="post.loggedUserHasUpVote && isUserLoggedIn && !post.loggedUserPost ? 'thread_user_content_box_icon thread_user_content_box_icon_up_selected': 'thread_user_content_box_icon'" 
                         [title]="isUserLoggedIn ? 'I like this answer' : 'Log in to vote'" (click)="handleUpVote(post)" [ngStyle]="{ 'cursor': isUserLoggedIn && !post.loggedUserPost ? 'pointer' : 'default' }">

                        {{post.numberOfUpVotes}} <fa-icon [icon]="likeIcon"></fa-icon>
                    </div>

                    <div [ngClass]="post.loggedUserHasDownVote && isUserLoggedIn && !post.loggedUserPost ? 'thread_user_content_box_icon thread_user_content_box_icon_down_selected': 'thread_user_content_box_icon'"
                         [title]="isUserLoggedIn ? 'I don\'t like this answer' : 'Log in to vote'" (click)="handleDownVote(post)" [ngStyle]="{ 'cursor': isUserLoggedIn && !post.loggedUserPost ? 'pointer' : 'default' }">

                        {{post.numberOfDownVotes}} <fa-icon [icon]="dislikeIcon"></fa-icon>
                    </div>
                </div>
                
                <div class="thread_user_content">
                    <div *ngFor="let contentFragment of post.content">                    
                        @if(contentFragment.meta) {
                            <blockquote>
                                <div> User <b>{{contentFragment.meta.authorNickname}}</b> wrote at <b>{{contentFragment.meta.dateAdded}}</b></div>
                                <div [innerHTML]="contentFragment.content"></div>
                            </blockquote>
    
                        } @else {
                            <p [innerHTML]="contentFragment.content"></p>
                        }
                    </div>                    
                </div>
            </div>
        </div>

        <div class="thread_post_item" id="post_creator_box">
            @if(!isUserLoggedIn) {
                <button class="up_button" [routerLink]="[ '/register' ]">Register</button>

                <div class="post_creator_comment">
                    <p>Only logged users can create posts</p>
                    <div>
                        <fa-icon [icon]="faceSmileWinkIcon"></fa-icon>
                    </div>
                </div>

                <button class="up_button" [routerLink]="[ '/login' ]">Login</button>

            } @else if(threadDetails.isClosed) {
                <p>Thread is closed, comments not allowed</p>
            
            } @else {
                <form name="form" (ngSubmit)="create()" #f="ngForm">
                    <textarea placeholder="Write your comment" [(ngModel)]="form.content" #content="ngModel" required name="content"></textarea>
                    <button type="submit" class="up_button">
                        <fa-icon [icon]="createIcon"></fa-icon>
                    </button>
                </form>
            }
        </div>
    </section>

    <section id="left_side_box" class="box">
        <div class="left_side_box">
            <div>
                <h1>Popular threads</h1>
                <hr>
            </div>

            <div class="left_side_row_item" *ngFor="let thread of mostPopularThreads">
                <div class="row_user_icon">
                    <div>
                        <img style="width: 40%;" [src]="thread.user.avatar" [routerLink]="[ '/user', thread.user.encryptedId, thread.user.nickname]">
                    </div>
                </div>

                <div class="left_side_row_post">
                    <a [routerLink]="[ '/thread', thread.encryptedId, thread.title ]" class="row_item_thread_post">
                        <h3>{{thread.title}}</h3>
                        <h5>By <b>{{thread.user.nickname}}</b> # {{thread.createdAt}} # {{thread.numberOfPosts}} posts</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="left_side_box">
            <div>
                <h1>Newest posts</h1>
                <hr>
            </div>

            <div class="left_side_row_item" *ngFor="let post of newestPosts">
                <div class="row_user_icon">
                    <div>
                        <img style="width: 40%;" [src]="post.user.avatar" [routerLink]="[ '/user', post.user.encryptedId, post.user.nickname]">
                    </div>
                </div>

                <div class="left_side_row_post">
                    <a [routerLink]="[ '/thread', post.thread.encryptedId, post.thread.title ]" class="row_item_thread_post">
                        <h3>{{post.thread.title}}</h3>
                        <h5>By <b>{{post.user.nickname}}</b> # {{post.createdAt}}</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="left_side_box">
            <div>
                <h1>Activity</h1>
                <hr>
            </div>

            <div id="left_side_activity_controls">
                <button class="activity_button" [ngClass]="weekActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectWeekActivityMode()">Week</button>
                <button class="activity_button" [ngClass]="monthActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectMonthActivityMode()">Month</button>
                <button class="activity_button" [ngClass]="annuallyActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectAnnuallyActivityMode()">Annually</button>
                <button class="activity_button" [ngClass]="allTheTimeActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectAllTheTimeActivityMode()">All the time</button>
            </div>

            <div id="left_side_activity_users">
                <div class="left_side_row_item" *ngFor="let user of activityUsers">
                    <div class="row_user_icon">
                        <div>
                            <img style="width: 40%;" [src]="user.avatar" [routerLink]="[ '/user', user.encryptedId, user.nickname]">
                        </div>
                    </div>
    
                    <div class="left_side_row_post" style="padding-top: 1em;">
                        <h3>                            
                            <fa-icon [icon]="upVoteIcon" style="color: #54a120;"></fa-icon>
                            {{user.numberOfUpVotes}} &nbsp;
                            {{user.nickname}} 
                        </h3>                                            
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>