<main>
    <section id="posts_box" class="box">
        <div id="thread_box">
            <div id="thread_title_box">
                <h1>{{threadDetails.title}}</h1>

                <div id="thread_right_box">
                    <div id="thread_base_info">
                        <div>
                            <h4>Publication date: {{threadDetails.createdAt}}</h4>
                        </div>
                        
                        <div id="category_subcategory_box">
                            <p><b>Category:</b> {{threadDetails.categoryName}}</p>
                            <p><b>Subcategory:</b> {{threadDetails.subCategoryName}}</p>
                        </div>
                    </div>

                    <div id="thread_title_controls">
                        <button class="button" style="background-color: #54a120;">Observe</button>
                        <button class="button" style="background-color: #aa692c;">Share</button>
                    </div>
                </div>
            </div>

            <div id="thread_box_content">
                <div class="thread_user">
                    @if(threadDetails.user) {
                        <div class="thread_user_nickname">
                            <h1>{{threadDetails.user.nickname}}</h1>
                        </div>

                        <div class="row_user_icon thread_user_avatar">
                            @if (threadDetails.user.avatar) {    
                                <img [src]="threadDetails.user.avatar">
                            }
                        </div>

                        <div class="thread_user_info">
                            <div class="thread_user_role">
                                <p>{{threadDetails.user.rank}}</p>
                            </div>

                            <div class="thread_user_stats">
                                <div class="thread_user_comments">
                                    {{threadDetails.user.numberOfPosts}} posts
                                </div>

                                <div class="thread_user_likes">
                                    {{threadDetails.user.numberOfUpVotes}} Up votes
                                </div>

                                <div class="thread_user_likes">
                                    {{threadDetails.user.numberOfDownVotes}} Down votes
                                </div>
                            </div>
                        </div>
                    }
                </div>
                 
                <div class="thread_user_content_box">                
                    <div class="thread_user_content" [innerHTML]="threadDetails.content"></div>
                </div>
            </div>
        </div>

        <div class="thread_post_item" *ngFor="let post of pageablePosts.content">
            <div class="thread_user">
                <div class="thread_user_nickname">
                    @if(post.user) {
                        <h1>{{post.user.nickname}}</h1>
                    }
                </div>

                <div class="row_user_icon thread_user_avatar">
                    @if (post.user.avatar) {    
                        <img [src]="post.user.avatar">
                    }
                </div>

                <div class="thread_user_info">
                    <div class="thread_user_role">
                        <p>{{post.user.rank}}</p>
                    </div>

                    <div class="thread_user_stats">
                        <div class="thread_user_comments">
                            {{post.user.numberOfPosts}} posts
                        </div>

                        <div class="thread_user_likes">
                            {{post.user.numberOfUpVotes}} Up votes
                        </div>

                        <div class="thread_user_likes">
                            {{post.user.numberOfDownVotes}} Down votes
                        </div>
                    </div>
                </div>
            </div>

            <div class="thread_user_content_box thread_user_post_content_box">
                <div class="thread_user_date_added">
                    <p>Published date: {{post.createdAt}}</p>
                </div>
                
                <div class="thread_user_content">
                    <div *ngFor="let contentFragment of post.content">                    
                        @if(contentFragment.blockquote) {
                            <blockquote>
                                <div> User <b>{{contentFragment.authorNickname}}</b> wrote</div>
                                <div [innerHTML]="contentFragment.content"></div>
                            </blockquote>
    
                        } @else {
                            <p [innerHTML]="contentFragment.content"></p>
                        }
                    </div>                    
                </div>
            </div>
        </div>
    </section>

    <section id="left_side_box" class="box">
        <div class="left_side_box">
            <div>
                <h1>Popular posts</h1>
                <hr>
            </div>

            <div class="left_side_row_item">
                <div class="popular_row_user_avatar">
                    <p>?</p>
                </div>

                <div class="left_side_row_post">
                    <h1>Header1</h1>
                    <h5>UserName # Yesterday # 515 posts</h5>
                </div>
            </div>

            <div class="left_side_row_item">
                <div class="left_side_row_user_avatar">
                    <p>#</p>
                </div>

                <div class="left_side_row_post">
                    <h1>Header #2</h1>
                    <h5>UserName2 # 2 days ago # 5 posts</h5>
                </div>
            </div>

            <div class="left_side_row_item">
                <div class="left_side_row_user_avatar">
                    <p>?</p>
                </div>

                <div class="left_side_row_post">
                    <h1>Header #3</h1>
                    <h5>UserName3 # Yesterday # 1.5k posts</h5>
                </div>
            </div>
        </div>

        <div class="left_side_box">
            <div>
                <h1>Newest posts</h1>
                <hr>
            </div>

            <div class="left_side_row_item">
                <div class="left_side_row_user_avatar">
                    <p>?</p>
                </div>

                <div class="left_side_row_post">
                    <h1>Header1</h1>
                    <h5>UserName # 5 minutes ago</h5>
                </div>
            </div>

            <div class="left_side_row_item">
                <div class="left_side_row_user_avatar">
                    <p>?</p>
                </div>

                <div class="left_side_row_post">
                    <h1>Header #2</h1>
                    <h5>UserName2 # 2 days ago</h5>
                </div>
            </div>

            <div class="left_side_row_item">
                <div class="left_side_row_user_avatar">
                    <p>?</p>
                </div>

                <div class="left_side_row_post">
                    <h1>Header #3</h1>
                    <h5>UserName3 # 2 hours ago</h5>
                </div>
            </div>
        </div>


        <div class="left_side_box">
            <div>
                <h1>Activity</h1>
                <hr>
            </div>

            <div id="left_side_activity_controls">
                <button class="activity_button">Week</button>
                <button class="activity_button">Month</button>
                <button class="activity_button">Annually</button>
                <button class="activity_button">All the time</button>
            </div>

            <div id="left_side_activity_users">
                <div class="left_side_activity_user_item">
                    <div class="left_side_activity_user_place">
                        <p>1</p>
                    </div>

                    <div class="left_side_activity_user_avatar">
                        <p>#</p>
                    </div>

                    <div class="left_side_activity_user_info">
                        <h1>UserXyz3</h1>
                        <h5>+250</h5>
                    </div>
                </div>

                <div class="left_side_activity_user_item">
                    <div class="left_side_activity_user_place">
                        <p>2</p>
                    </div>

                    <div class="left_side_activity_user_avatar">
                        <p>#</p>
                    </div>

                    <div class="left_side_activity_user_info">
                        <h1>UserXyz2</h1>
                        <h5>+150</h5>
                    </div>
                </div>

                <div class="left_side_activity_user_item">
                    <div class="left_side_activity_user_place">
                        <p>3</p>
                    </div>

                    <div class="left_side_activity_user_avatar">
                        <p>#</p>
                    </div>

                    <div class="left_side_activity_user_info">
                        <h1>UserXyz3</h1>
                        <h5>+100</h5>
                    </div>
                </div>

                <div class="left_side_activity_user_item">
                    <div class="left_side_activity_user_place">
                        <p>4</p>
                    </div>

                    <div class="left_side_activity_user_avatar">
                        <p>#</p>
                    </div>

                    <div class="left_side_activity_user_info">
                        <h1>UserXyz4</h1>
                        <h5>+50</h5>
                    </div>
                </div>

                <div class="left_side_activity_user_item">
                    <div class="left_side_activity_user_place">
                        <p>5</p>
                    </div>

                    <div class="left_side_activity_user_avatar">
                        <p>#</p>
                    </div>

                    <div class="left_side_activity_user_info">
                        <h1>UserXyz5</h1>
                        <h5>+5</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>