<main>
    <section id="posts_box" class="box">
        <div id="selected_category">
            <h1>{{ groupedThreadCategory.name }}</h1>
        </div>

        <div id="sub_categories">          
            <h4 *ngIf="groupedThreadCategory.subCategories && groupedThreadCategory.subCategories.length !== 0">Subcategories</h4>  
            <div class="row_item" *ngFor="let subCategory of groupedThreadCategory.subCategories">
                <div class="row_icon">
                    @if(subCategory.thumbnailPath) {
                        <img [src]="subCategory.thumbnailPath">
                    }
                </div>

                <div class="row_title_desc_box">
                    <a [routerLink]="[ '/threads', subCategory.encryptedId, subCategory.name]">{{ subCategory.name }}</a>
                    <p class="row_desc">{{subCategory.description}}</p>
                </div>
                
                <div class="row_stats">
                    <p>{{ subCategory.numberOfThreads }} threads</p>
                </div>

                <div class="row_last_post_box">
                    <div class="row_user_icon">
                        @if (subCategory.newestThread) {
                            <div>
                                <img [src]="subCategory.newestThread.authorAvatar" title="Enter to user profile" [routerLink]="[ '/user', subCategory.newestThread.authorEncryptedId, subCategory.newestThread.authorNickname]">
                            </div>
                        }
                    </div>

                    @if (subCategory.newestThread) {                                        
                        <div class="row_last_post">
                            <a [routerLink]="[ '/thread', subCategory.newestThread.encryptedId, subCategory.newestThread.title ]" class="row_item_thread_post">
                                {{subCategory.newestThread.title}} <br> By {{subCategory.newestThread.authorNickname}},&nbsp; {{subCategory.newestThread.lastActivityDate}}
                            </a>
                        </div>

                    } @else {
                        <div class="row_last_post">
                            <h5>Currently no threads</h5>
                        </div>
                    }                    
                </div>
            </div>
        </div>

        <div id="pagination">
            <div id="pages_counter_box">
                @if(pageableCategoryThreads.totalPages > 0) {
                    <p>{{pageableCategoryThreads.number + 1}}/{{pageableCategoryThreads.totalPages}}</p>

                } @else {
                    <p>1/1</p>
                }
                
            </div>

            <div id="pagination_buttons_box">
                <div class="pagination_button">
                    <button [disabled]="pageableCategoryThreads.last || pageableCategoryThreads.empty" class="pagination_button">Next</button>
                </div>

                <div class="pagination_button">
                    <button [disabled]="pageableCategoryThreads.first || pageableCategoryThreads.empty || pageableCategoryThreads.number < pageableCategoryThreads.totalPages" 
                            class="pagination_button">Last</button>
                </div>
            </div>

            <div id="pagination_sorting_box">
                <p>Sort by</p>
            </div>
        </div>

        <div id="selected_category_rows_box">
            <div class="row_item" *ngFor="let thread of pageableCategoryThreads.content">
                <div class="row_icon"></div>

                <div class="row_title_desc_box">
                    <a [routerLink]="[ '/thread', thread.encryptedId, thread.title]" class="row_item_thread_post">
                        {{ thread.title }}<br> By: {{thread.authorNickname}}, &nbsp;{{thread.lastActivityDate}}

                        @if(thread.categoryName && thread.categoryName !== groupedThreadCategory.name) {
                            <span>,&nbsp;{{thread.categoryName}}</span>
                        }
                    </a>                
                </div>
                
                <div class="row_stats">
                    <p>{{thread.numberOfPosts}} posts</p>
                    <p>{{thread.numberOfViews}} views</p>
                </div>

                @if (thread.newestPost) {                                        
                    <div class="row_last_post_box">
                        <div class="row_user_icon">
                            <img [src]="thread.newestPost.authorAvatar" title="Enter to user profile" [routerLink]="[ '/user', thread.newestPost.authorEncryptedId, thread.newestPost.authorNickname]">
                        </div>
    
                        <div class="row_last_post">
                            <h5>By {{thread.newestPost.authorNickname}},&nbsp; {{thread.newestPost.createdAt}}</h5>
                        </div>                      
                    </div>

                } @else {
                    
                    <div class="row_last_post_box">
                        <div class="row_user_icon">
                            @if (thread.newestPost) {
                                <p>?</p>
                            }
                        </div>

                        <div class="row_last_post">
                            <h5>Currently no posts</h5>
                        </div>                          
                    </div>
                }   
            </div>
        </div>
    </section>

    <section id="left_side_box" class="box">
        <div class="left_side_box">
            <div>
                <h1>Popular threads</h1>
                <hr>
            </div>

            <div class="left_side_row_item" *ngFor="let thread of mostPopularThreads">
                <div class="row_user_icon">
                    <div>
                        <img style="width: 40%;" [src]="thread.user.avatar" [routerLink]="[ '/user', thread.user.encryptedId, thread.user.nickname]">
                    </div>
                </div>

                <div class="left_side_row_post">
                    <a [routerLink]="[ '/thread', thread.encryptedId, thread.title ]" class="row_item_thread_post">
                        <h3>{{thread.title}}</h3>
                        <h5>By <b>{{thread.user.nickname}}</b> # {{thread.createdAt}} # {{thread.numberOfPosts}} posts</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="left_side_box">
            <div>
                <h1>Newest posts</h1>
                <hr>
            </div>

            <div class="left_side_row_item" *ngFor="let post of newestPosts">
                <div class="row_user_icon">
                    <div>
                        <img style="width: 40%;" [src]="post.user.avatar" [routerLink]="[ '/user', post.user.encryptedId, post.user.nickname]">
                    </div>
                </div>

                <div class="left_side_row_post">
                    <a [routerLink]="[ '/thread', post.thread.encryptedId, post.thread.title ]" class="row_item_thread_post">
                        <h3>{{post.thread.title}}</h3>
                        <h5>By <b>{{post.user.nickname}}</b> # {{post.createdAt}}</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="left_side_box">
            <div>
                <h1>Activity</h1>
                <hr>
            </div>
            
            <div id="left_side_activity_controls">
                <button class="activity_button" [ngClass]="weekActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectWeekActivityMode()">Week</button>
                <button class="activity_button" [ngClass]="monthActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectMonthActivityMode()">Month</button>
                <button class="activity_button" [ngClass]="annuallyActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectAnnuallyActivityMode()">Annually</button>
                <button class="activity_button" [ngClass]="allTheTimeActivityModeIsSelected ? 'activity_button activity_button_selected' : 'activity_button'" (click)="selectAllTheTimeActivityMode()">All the time</button>
            </div>

            <div id="left_side_activity_users">
                <div class="left_side_row_item" *ngFor="let user of activityUsers">
                    <div class="row_user_icon">
                        <div>
                            <img style="width: 40%;" [src]="user.avatar" [routerLink]="[ '/user', user.encryptedId, user.nickname]">
                        </div>
                    </div>
    
                    <div class="left_side_row_post" style="padding-top: 1em;">
                        <h3>                            
                            <fa-icon [icon]="upVoteIcon" style="color: #54a120;"></fa-icon>
                            {{user.numberOfUpVotes}} &nbsp;
                            {{user.nickname}} 
                        </h3>                                            
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>